__pycache__/
*.py[cod]
node_modules/
com.t3lluz.hyperxcawbattery.sdPlugin/bin/plugin.js
com.t3lluz.hyperxcawbattery.sdPlugin/bin/plugin.js.map
com.t3lluz.hyperxcawbattery.sdPlugin/bin/package.json
com.t3lluz.hyperxcawbattery.sdPlugin/logs/
*.log
.DS_Store
Thumbs.db
